{% extends "baseTemplate.html" %}

{% block title %}Add Show{% endblock %}

{% block head %}
<style>
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }
    .h-custom {
        height: calc(100% - 73px);
    }
    @media (max-width: 450px) {
        .h-custom {
            height: 100%;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="body" style="margin-top: 10%; margin-bottom: 10%;">
    {% if response is defined %}
        {% if response == 'Success' %}
            <p class="alert alert-warning" role="alert" style="padding: 10px 20px;">Successfully added</p>
        {% else %}
            <p class="alert alert-warning" role="alert" style="padding: 10px 20px;">{{ response['error_code'] }} , 
                {{ response['error_message'] }}</p>
        {% endif %}
    {% endif %}
    <div class="container h-custom">
        <h2>Add new Show</h2><hr/><br/>
      <div class="d-flex justify-content-center align-items-center h-100">

          <form class="mt-4" action="{{ url_for('admin.addShow')}}" method="post" enctype=multipart/form-data>  
            <!-- Name input -->
            <div class="row mb-3">
                <div class="col-12 col-sm-6">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text" name="venueName">Show Name</span>
                        <input type="text" class="form-control" name="showName" id="showName" placeholder="Movie Name" aria-label="venueName">
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">Choose Initial Rating</span>
                        <input type="text" class="form-control" name="showRating" id="showRating" placeholder="10" aria-label="venueLocation">
                    </div>
                </div>
            </div>
            <!--
            <div class="row mb-3">
                <div class="input-group input-group-lg">
                    <input type="file" class="form-control" id="venueImage" name="venueImage">
                    <label class="input-group-text" for="venueImage">Upload Image</label>
                  </div>
            </div>
            -->
            <div class="row mb-3">
                <div class="col-4">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text" >Ticket Price</span>
                        <input type="number" class="form-control" name="showTicketPrice" id="showTicketPrice" placeholder="450" aria-label="venueCapacity">
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4 offset-5">
                    <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Register Show</button>
                </div>
            </div>
  
          </form>
      </div>
    </div>
</div>
{% endblock %}