{% extends "baseTemplate.html" %}

{% block title %}Add Show{% endblock %}

{% block head %}
<style>
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }
    .h-custom {
        height: calc(100% - 73px);
    }
    @media (max-width: 450px) {
        .h-custom {
            height: 100%;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="body" style="margin-top: 10%; margin-bottom: 10%;">
    {% if response is defined %}
        {% if response == 'Success' %}
            <p class="alert alert-warning" role="alert" style="padding: 10px 20px;">Successfully added</p>
        {% else %}
            <p class="alert alert-warning" role="alert" style="padding: 10px 20px;">{{ response['error_code'] }} , 
                {{ response['error_message'] }}</p>
        {% endif %}
    {% endif %}
    <div class="container h-custom">
        <h2>Add new Show</h2><hr/><br/>
      <div class="d-flex justify-content-center align-items-center h-100">

          <form class="mt-4" action="/admin/showFor/{{ venue_name }}/add" method="post" enctype=multipart/form-data>  
            <!-- Name input -->
            <div class="row mb-3">
                <div class="col-12 col-sm-6">
                    <div class="input-group input-group-md mb-3">
                        <span class="input-group-text" name="venueName">For Venue</span>
                        <input type="text" class="form-control" name="venueName" 
                        id="venueName" value="{{ venue_name }}" aria-label="venueName" disabled>
                    </div>
                </div>
            <div class="row mb-3">
                <div class="col-12 col-sm-6">
                    <div class="input-group input-group-md mb-3">
                        <span class="input-group-text" name="showName">Name</span>
                        <input type="text" class="form-control" name="showName" id="showName" 
                        placeholder="Show Name" aria-label="Show Name">
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="input-group input-group-md mb-3">
                        <span class="input-group-text">Initial Rating</span>
                        <input type="text" class="form-control" name="showRating" id="showRating" 
                        placeholder="Out of 10" aria-label="Show Rating">
                    </div>
                </div>
            </div>
            <!--
            <div class="row mb-3">
                <div class="input-group input-group-lg">
                    <input type="file" class="form-control" id="venueImage" name="venueImage">
                    <label class="input-group-text" for="venueImage">Upload Image</label>
                  </div>
            </div>
            -->

            <div class="row mb-3">
                <div class="col-12">
                    <div class="input-group input-group-md mb-3">
                        <span class="input-group-text">Tags</span>
                        <div class="form-control">
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" 
                                id="TagAction" name="tags" value="Action">
                                <label class="form-check-label" for="Action"> Action</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" 
                                id="TagThriller" name="tags" value="Thriller">
                                <label for="Thriller" class="form-check-label"> Thriller</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" 
                                id="TagComedy" name="tags" value="Comedy">
                                <label for="Comedy" class="form-check-label"> Comedy</label>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <div class="input-group input-group-md mb-3">
                        <span class="input-group-text">Languages</span>
                        <div class="form-control">
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" 
                                id="LangEnglish" name="languages" value="English">
                                <label class="form-check-label" for="English"> English</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" 
                                id="LangHindi" name="languages" value="Hindi">
                                <label for="Hindi" class="form-check-label"> Hindi</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" 
                                id="LangBengali" name="languages" value="Bengali">
                                <label for="Bengali" class="form-check-label"> Bengali</label>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <div class="input-group input-group-md mb-3">
                        <span class="input-group-text" >Release Date</span>
                        <input type="date" class="form-control" name="showReleaseDate" 
                        id="showReleaseDate" aria-label="Show Release Date">
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <div class="input-group input-group-md mb-3">
                        <span class="input-group-text" >Release Time</span>
                        <input type="time" class="form-control" name="showReleaseTime" 
                        id="showReleaseTime" min="06:00" max="23:00" required>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    <div class="input-group input-group-md mb-3">
                        <span class="input-group-text" >Duration</span>
                        <input type="text" class="form-control" name="showDuration" 
                        id="showDuration" placeholder="2 hrs 3 min" aria-label="Show Duration">
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-5">
                    <div class="input-group input-group-md mb-3">
                        <span class="input-group-text" >Ticket Price</span>
                        <input type="number" step=".01" class="form-control" name="showTicketPrice" 
                        id="showTicketPrice" placeholder="450.00" aria-label="Show Ticket Price">
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4 offset-5">
                    <button type="submit" class="btn btn-primary btn-md"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Register Show</button>
                </div>
            </div>
  
          </form>
      </div>
    </div>
</div>
{% endblock %}